<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    Tarea: <input type="text" name="tarea">
    <input type="submit">
</form>

<h3>Tareas:</h3>
<ul>
    {% for tarea in tareas %}
    <li>{{ tarea.nombre }} <a href="/eliminar/{{ tarea.id }}">(eliminar)</a> <a href="/editar/{{ tarea.id }}">(editar)</a></li>
    {% endfor %}
</ul>
</body>
</html>
