<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ mocion.nombre }}</h1>

    <h3>Contenido:</h3>
    <p>{{ mocion.contenido }}</p>
    <h3>Categoria: {{ mocion.categoria.nombre }}</h3>
    {% if mocion.presupuesto %}
        <h3>Presupuesto: S/{{ mocion.presupuesto }}</h3>
    {% endif %}
    <h3>Estado: {{ mocion.get_estado_display }}</h3>
</body>
</html>
